body {
    font-family: Arial;
}

.split {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
}

.left {
    left: 0;
    background-color: #d1c0c0;
}

.right {
    right: 0;
    background-color: rgb(133, 151, 161);
    overflow-y: scroll;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 90%;
    transform: translate(-50%, -50%);
    background: rgba(245, 243, 243, 1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 2px;
}

.formcontent, table#tablee{
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}
table#tablee{
    position:absolute;
}

table#tablee, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: -webkit-fill-available;
}

.formcontent>div {
    margin-left: 20px;
}

input,
select,
textarea {
    border: 0px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    background-color: transparent;
    border-radius: 4px;
    height: 26px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0px;
    color: grey;
    font-size: 16px;
}


.leftdiv label,
.rightdiv label {
    display: block;
}

.leftdiv input,
.rightdiv input,
.leftdiv select,
.rightdiv select {
    display: block;
    width: 100%;
}

.leftdiv,
.rightdiv {
    float: left;
    width: 44%;
    margin-right: 40px;
}

.row {
    clear: both;
    padding: 20px;
    padding-bottom: initial;
}

.descrowlabel {
    display: block;
    width: 100%;
}

textarea {
    width: 94%;
}

.flexdiv {
    display: flex;
    text-align: center;
    width: 95%;
    padding-top: 20px;
}

.flexdiv>* {
    flex-grow: 1;
}

.floatright {
    float: right;
}

.clearfix {
    clear: both;
}

.floatright.divsinline .box {
    display: inline;
}

.box button {
    border-radius: 4px;
    padding: 8px;
}

.box button.primary {
    color: white;
    background-color: blue;
    border: 1px solid blue;
}

.box button.sec {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

input[type="radio"] {
    height: auto;
}

.row.buttons {
    display: flex;
    margin-left: 74%;
}

.box {
    padding: 5px;
}



ul#data {
    list-style-type: none;
    padding: inherit;
    margin:50px;
}

li.eachentry {
    background-color: #d1c0c0;
    padding: 13px;
    border: 1px solid grey;
    border-radius: 15px;
    margin:5px;
}

.title {
    font-size: larger;
    font-weight: bold;
    float: left;
}

.amount {
    float: right;
    color: green;
    font-size: medium;
}

.description {
    clear: both;
    font-size:large;
    font-style:italic;
}
.hidden{
    display: none;
}

 .error::after{
    content: 'Fill proper details';
    color:red;
    margin:20px;
    border:1px solid red;
    padding: 5px;
    background-color:yellow;
}
.deletebutton, .editbutton, .viewbutton{
    border-radius:5px;
    background-color:rgb(133, 151, 161);
    margin:5px;
}
.buttonsdesign{
    margin-left: 74%;
}
