body {
    font-family: Arial;
    /* color:white; */
}

.split {
    height: 100%;
    width: 50%;
    position: absolute;
    /* z-index:1; */
    top: 0;
    /* overflow-x:hidden; */
    /* padding-top: 20px; */
}

.left {
    left: 0;
    background-color: #d1c0c0;
}

.right {
    right: 0;
    background-color: rgb(133, 151, 161);
}

/* .centered{
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%,-50%);
    text-align:center;
   
} */
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 45vw; */
    /* height:45vh; */
    /* padding: 40px; */
    height: 60%;
    width: 90%;
    transform: translate(-50%, -50%);
    background: rgba(245, 243, 243, 1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 2px;
}

.formcontent {
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.formcontent>div {
    margin-left: 20px;
}

input,
select,
textarea {
    border: 0px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    background-color: transparent;
    border-radius: 4px;
    height: 26px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0px;
    color: grey;
    font-size: 16px;
}


.leftdiv label,
.rightdiv label {
    display: block;
}

.leftdiv input,
.rightdiv input,
.leftdiv select,
.rightdiv select {
    display: block;
    width: 100%;
}

.leftdiv,
.rightdiv {
    float: left;
    width: 44%;
    margin-right: 40px;
}

.row {
    clear: both;
    padding: 20px;
    padding-bottom: initial;
}

.descrowlabel {
    display: block;
    width: 100%;
}

textarea {
    width: 94%;
}

.flexdiv {
    display: flex;
    text-align: center;
    width: 95%;
    padding-top: 20px;
}

.flexdiv>* {
    flex-grow: 1;
}

.floatright {
    float: right;
}

.clearfix {
    clear: both;
}

.floatright.divsinline .box {
    display: inline;
}

.box button {
    border-radius: 4px;
    padding: 8px;
}

.box button.primary {
    color: white;
    background-color: blue;
    border: 1px solid blue;
}

.box button.sec {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

input[type="radio"] {
    height: auto;
}

.row.buttons {
    display: flex;
    margin-left: 74%;
}

.box {
    padding: 5px;
}